body{
  background-color:navy;
  background-size: cover;
  color: black;
}
.level{
color: black;
display: flex;
align-items: center;
justify-content: center;
}
.box{
width: 700px;
height:400px;
border:2.5px solid #000;
padding:20px; 
margin:20px; 
/* display:flex;
justify-content: center;
align-items: center; */
box-shadow: 0 0 10px rgba(0,0,0,0.2);  background-size: 20px 20px;
background-color: rgb(39, 158, 238);
border-radius: 20px;
margin-top: 7%;
margin-left: 20%;
}

.number {
  display: flex;
  justify-content: center;
}
.btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  border-radius: 10px;
  padding: 10px;
}
.btn2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  border-radius: 10px;
  padding: 10px;
}